.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

// sider.component.scss ou styles.scss (dependendo de onde você quer aplicar o estilo)
.active {
    background-color: #1890ff; /* Cor de fundo para o item ativo */
    color: #ffffff; /* Cor do texto para o item ativo */
  }
  
  // Estilo adicional para garantir que o texto e ícones fiquem visíveis
  .active span {
    color: #ffffff; /* Cor do texto */
  }
  