<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item [routerLink]="'/dashboard'" routerLinkActive="active">
        <span>Dashboard</span>
      </li>
      <li nz-menu-item [routerLink]="'/contas'" routerLinkActive="active">
        <span>Contas</span>
      </li>
      <li nz-menu-item [routerLink]="'/contas'" routerLinkActive="active">
        <span>Transações</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout> <!-- Talvez não seja uma boa pratica, mas foi como consegui encapsular o header, content e footer no sider-->
    <app-header></app-header>
      <app-content></app-content>
      <router-outlet></router-outlet> <!-- O conteúdo da página será injetado aqui com base na rota atual -->
    <app-footer></app-footer>
  </nz-layout>
</nz-layout>